/**
 * Pboxes Dailog Styles
 *
 * Scoped to wp-admin, since this should not run on the frontend.
 * written in a mobile-first approach - The default styles are for mobile
 * and we correct for bigger screens.
 */
body.wp-admin #pboxes_dialog {
	position: fixed;
	top: 10%;
	right: 10%;
	width: 80%;
	height: auto;
	max-width: 600px;
	max-height: 80%;
	z-index: 100101; /* Important to stay above the shortcode UI controls */
	background: rgba(255, 255, 255, 1);
	overflow: auto;
	border: 1px solid #888;
	box-sizing: border-box;
	padding: 60px 20px 20px 20px;
	box-sizing: border-box;
}

.pboxes-dialog-controls {
	position: relative;
	float: right;
	height: 40px;
	width: auto;
}

.pboxes-dialog-header {
	position: absolute;top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #888;
}

.pboxes-dialog-header h2 {
	margin: 0;
	line-height: 40px;
	font-size: 20px;
	text-indent: 20px;
}

.pboxes-dialog-controls .pboxes-dialog-control {
	position: relative;
	height: 40px;
	width: 40px;
	border-left: 1px solid #888;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	box-sizing: border-box;
}

.pboxes-dialog-controls .pboxes-dialog-close {
	cursor: pointer;
}

.pboxes-dialog-controls .pboxes-dialog-tooltip {
	cursor: help;
}

.pboxes-dialog-controls .pboxes-dialog-tooltip span {
	position: absolute;
	top: 100%;
	right: 0;
	display: block;
	width: 300px;
	height: auto;
	border: 1px solid #888;
	background-color: #fff;
	z-index: 9999;
	margin-top: 5px;
	padding: 10px;
	transition: opacity .4s ease;
	visibility: hidden;
	opacity: 0;
	box-sizing: border-box;
	text-align: left;
	font-size: 12px;
	line-height: 1.2;
}

.pboxes-dialog-controls .pboxes-dialog-tooltip:hover span {
	visibility: visible;
	opacity: 1;
}

#pboxes_dialog #pbox_innercontent_ifr {
	min-height: 300px;
}

#pboxes_dialog .pboxes-box-submit {
	margin-top: 20px;
}

